 *{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    

 }
 body{
    background-color: white;
 }
 header{
    border: 1px solid  rgb(26, 26, 61);
    height: 95px;
   background-color: rgb(26, 26, 61);
 }
 .clock{
     display: flex;
    gap: 0.6rem;
    margin: 3px;

 }
 .clocks{
    gap: 0.6rem;
    margin-left: 950px;
    margin-top: -60px;
    max-width: 1000px;

 }
 .usee{
   
    margin-left: 20px;
    margin-top: -20px;
 }
 .email{
    display: flex;
    gap: 0.6rem;
    margin: 3px;

 }
 .mon{
    margin-left: 25px;
    margin-top: 5px;
 }
.redpart{
    text-align: center;
    margin-top: -90px;
    border: 2px solid red;
    margin-left: 450px;
    margin-right: 450px;
    background-color: red;
    padding-bottom: 40px;
    padding-top: 40px;
    color: azure;
    border-bottom-right-radius: 40000px;
    border-bottom-left-radius: 40000px;
    
 }
 .us{
    text-align: end;
    margin-right: 330px;
    margin-top: -70px;
    
 }
 .moo:hover{
   color:tomato;
   text-decoration: none;
   transition-duration: 2.5s;

 }
 .moo{
   text-decoration: none;
   
 }
 .rd{
    margin-left: 20px;
 }
 .use{
    text-align: end;
    margin-right: 50px;
    margin-top: -35px;
 }
 .red{
    margin-right: -18px;
 }
 .welcome{
    margin-top: 100px;
    margin-left: 20px;
    color: tomato;
    max-width: 600px;
 }
 .map{
   text-align: end;
    margin-right: 100px;
    margin-top: -70px;
    
 }
 .phil{
    color: black;
    display: flex;
    margin-bottom:30px;
    font-size: 50px;
    
 }
 .ptel1{
   height: 50px;
   margin-top: -20px;
   margin-left: 0px;
   gap: 1rem;
   
 }
 .rob{
    border: 2px solid  rgb(26, 26, 61);
    height: 55px;
    width: 12px;
   background-color: rgb(26, 26, 61);
   margin-top: -2px;
 }
 .orb{
   border: 2px solid  rgb(26, 26, 61);
    height: 40px;
    width: 12px;
   background-color: rgb(26, 26, 61);
   margin-left: 1339px;
   margin-top: -55px;


 }
 .nav-one{
   display: flex;
   margin-top: -100px;
   border: 1px solid white;
   background-color: white;
   width: 1300px;
   height: 100px;
   padding-top: 40px;
   
 }
 .nav{
  margin-top: 50px;
  margin-left: 20px;
 }
 .Home{
   color: black;
   display: flex;
   gap: 30px;
   font-weight: 700px;
   text-decoration: none;
   font-size: medium;
   margin-left: 150PX;
   list-style: none;
 }
 .homee{
   text-decoration: none;
   color: black;
 }
 .homee:hover{
   color: tomato;
   transition-duration: 2.5s;
 }
 .num{
   text-align: end;
   margin-right: -250px;
   margin-top: -20px;
 }
 .rednum{
   color: red;
   font-size: 21.5px;
   font-weight: 900;
 }
 .book{
   padding: 15px;
   margin-right: -180px;
   top: -140px;
   background-color: rgb(240, 42, 42);
   border: 1px solid  rgb(240, 42, 42);
   text-decoration: none;
   font-weight: 900;
 }
 .books{
   margin-top: -45px;
   text-decoration: none;
   color: white;
   
 }
 
 .books:hover{
   background-color: white;
   text-decoration: none;
   color: red;
   transition-duration: 2.5s;
}
.cool{
    padding-bottom: 100px;
}
.cco{
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid rgb(241, 239, 239);
    width: 390px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.cco0{
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid rgb(241, 239, 239);
    width: 390px;
    padding-bottom: 120px;
    border-radius: 5px;
}

.cop{
    margin-left: 450px;
    margin-top: -445px;
    padding-bottom: 30px;
    border: 1px solid rgb(241, 239, 239);
    width: 390px;
    border-radius: 5px;
}
.cup{
    margin-left: 450px;
    margin-top: -518px;
    padding-bottom: 38px;
    border: 1px solid rgb(241, 239, 239);
    width: 390px;
    border-radius: 5px;
}

.copo{
    margin-left: 860px;
    margin-top: -445px;
    padding-bottom: 65px;
    border-radius: 5px;
    border: 1px solid rgb(241, 239, 239);
    width: 390px;
}

.copol{
    margin-left: 860px;
    margin-top: -518px;
    padding-bottom: 125px;
    border-radius: 5px;
    border: 1px solid rgb(241, 239, 239);
    width: 390px;
}
.sol{
    font-size: 25px;
    color: black;
    margin-left: 10px;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 20px;
}
.sole{
    margin-left: 10px;
    color: rgb(186, 186, 201);
}
/* ===== RESPONSIVE FIX FOR SERVICES PAGE ===== */
@media (max-width: 1024px) {
  /* Header fixes */
  header {
    height: auto !important;
    padding: 15px 10px !important;
  }
  .clocks {
    margin-left: auto !important;
    margin-right: 15px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .use {
    text-align: center !important;
    margin: 10px auto !important;
  }
  .redpart {
    margin: 15px !important;
    border-radius: 0 0 25px 25px !important;
    padding: 20px 10px !important;
  }

  /* Navigation */
  .nav-one {
    width: 100% !important;
    height: auto !important;
    flex-wrap: wrap;
    padding: 10px 15px !important;
    position: relative !important;
    margin: 0 !important;
  }
  .Home {
    gap: 15px !important;
    margin-left: 0 !important;
    justify-content: center;
    flex-wrap: wrap;
  }
  .num {
    margin: 15px auto !important;
    text-align: center;
  }
  .book {
    margin: 15px auto !important;
    display: block;
    width: fit-content;
  }

  /* Services grid */
  .cool {
    padding: 30px 15px !important;
  }
  .cco, .cco0, .cop, .copo, .cup, .copol {
    width: 100% !important;
    max-width: 500px;
    margin: 25px auto !important;
    margin-top: 25px !important;
    padding-bottom: 25px !important;
  }
  /* Remove all negative margins and fixed left positions */
  .cop, .copo, .cup, .copol {
    margin-left: 0 !important;
    margin-top: 25px !important;
  }

  /* Text adjustments */
  .sol {
    font-size: 22px !important;
    margin: 15px 10px !important;
    text-align: center;
  }
  .sole {
    margin: 0 15px !important;
    text-align: justify;
    font-size: 15px !important;
  }

  /* Hide decorative bars if needed */
  .rob, .orb {
    display: none !important;
  }
}